{% extends "base.html" %}

{% block meta %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}User's Account{% endblock %}

{% block content %}
<!-- Content -->

<h1 class="mb-3 text-center">Manage account</h1>

<section class="container-fluid mt-5 mb-3">
    <div class="row justify-content-center">
        <div class="row no-gutters ALL-box-preview-shadow" style="width: 57rem;">
            <div class="col-md-6 card-img ALL-picture ">
                <img src="{{ url_for('static', filename='Pictures_Users/'+current_user.picture) }}" class="card-img All-acct-prof-pic" alt="user profile picture">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{current_user.name}}</h5>
                    <p class="card-text text-justify"><b>{{current_user.email}}</b></p>
                    <p class="card-text"><small class="text-muted"> Since {{current_user.date_created.strftime('%d %B %Y')}}</small>
                    </p>
                    <hr>
                    <p class="card-text text-justify">{{current_user.about}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid mt-5 mb-2">
    <div class="row justify-content-center">
        <div class="justify-content-center">
            <a href="/dashboard/manage_account/update_picture/{{current_user.id}}" class="btn ALL-green-btn-dark mb-2" style="width:367px" role="button">Update
                Profile Picture</a>
        </div>
    </div>
</section>
<section class="container-fluid mb-5">
    <div class="row justify-content-center">
        <div class="justify-content-center">
            <a href="/dashboard/manage_account/update/{{current_user.id}}" class="btn ALL-green-btn mb-2"
                style="width:180px" role="button">Update
                Information</a>
            <a href="/dashboard/manage_account/delete/{{current_user.id}}" class="btn btn-danger mb-2"
                style="width:180px" role="button">Delete Account</a>
        </div>
    </div>
</section>

{% endblock %}

