{% extends "base.html" %}

{% block meta %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}User's Account - Update{% endblock %}

{% block content %}
<!-- Content -->

<h1 class="mb-3 text-center">Change picture</h1>
<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        {% if profile_picture %}
        <p>If you would like to change your profile picture, you can upload a new one bellow!</p>
        <p style="color:rgb(176, 176, 176)">Current profile picture: {{profile_picture}}</p>
        {% else %}
        <p>You do not have a profile picture yet. You can upload one bellow!</p>
        {% endif %}
        <p>Accepted files types: .png, .jpg, and .jpeg.</p>
        <div id="messageFileSizeDisapproved"></div>
        <form action="" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.picture.label (class="form-label")}}
            {{form.picture (class="form-control", oninput="checkFileSize(this)")}}
            <br>
            {{form.submit(class="btn ALL-green-btn-dark mb-2")}}
        </form>

    </div>
</section>

{% endblock %}