{% extends "account/dashboard_author.html" %}
{% block page %}

<section class="mb-3 container-fluid w-100">
    <h2 class="mb-3 text-center">Posts pending approval</h2>
    <div class="table-responsive w-100">
        <table class="col-md-12 table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col"># id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Theme</th>
                    <th scope="col">Date to post</th>
                    <th scope="col">Submitted</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts_pending_admin %}
                <tr>
                    <th scope="row" class="align-middle">{{post.id}}</th>
                    <td class="align-middle">{{post.title}}</td>
                    <td class="align-middle">{{post.theme_group.theme}}</td>
                    <td class="align-middle">{{post.date_to_post.strftime('%d %b %Y')}}</td>
                    <td class="align-middle">{{post.date_submitted.strftime('%d %b %Y')}}</td>
                    <td class="d-flex flex-column" style="gap: 5px;">
                        <div class="d-flex" style="gap: 5px;">
                            <a href="{{url_for('dashboard.preview_post_author', id=post.id)}}" target="_blank"
                                class="btn btn-sm ALL-mini-btn"
                                style="width: 147px; background-color: #728c6996;">preview</a>
                        </div>
                        <div class="d-flex" style="gap: 5px;">
                            <a href="{{url_for('dashboard.edit_post_author', id=post.id)}}" class="btn btn-secondary btn-sm"
                                style="width: 70px !important;">edit</a>
                            <a href="{{url_for('dashboard.delete_post_author', id=post.id)}}" class="btn btn-danger btn-sm"
                                style="width: 70px;">delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}