{% extends "base.html" %}

{% block meta %}
<meta name="description" content="About the Travel Blog">
{% endblock %}

{% block title %}Travel blog - About{% endblock %}

{% block content %}

    <!-- Content -->
    <h1 class="ALL-special-font ALL-h1 text-center">About the Authors</h1>

    <!-- Cards: Culture (missing piece)-->
    {% for author in authors_all: %}
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="row no-gutters" style="width: 57rem;">
                <div class="col-md-6 card-img ALL-picture ">
                    <img src="{{ url_for('static', filename='Pictures_Users/'+author.picture) }}" class="card-img "
                        alt="author">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ author.name }}</h5>
                        <p class="card-text text-justify">{{ author.about }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

{% endblock %}