{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Travel blog - Your source of travel tips and news">
{% endblock %}
{% block title %}Travel Blog - embark on this adventure{% endblock %}

{% block content %}

<!-- Content -->
    <!-- Main image -->
    <section class="container-fluid HOME-img-main">
        <h1 class="HOME-special-font HOME-title">The Travel Blog</h1>
        <p class="HOME-sub-title"><span>discover the world with us</span></p>
    </section>

    <!-- Cards: Themes -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            {% for theme in posts_themes: %}
            <div class="col col-auto mb-3 HOME-theme-btn">
                <a class="ALL-no-hover" href="{{ url_for('website.all', index=theme[2]) }}">
                    <div class="card h-100" style="width: 13rem; border:none;">
                        <img src="{{ url_for('static', filename='Pictures_Themes/'+theme[1]) }}" class="card-img-top HOME-round-img" alt="Theme" />
                        <div class="card-body" style="display:flex; justify-content: center;">
                            <h5 class="card-title ALL-no-hover">{{theme[0]}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Beach -->
    <section class="container-fluid">
        <div class="row justify-content-center">
            {% for beach_posts in posts_all: %}
            {% if beach_posts.theme_group.theme == posts_themes[0][0]: %}
            <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="{{ url_for('website.blog_post', index=beach_posts.id, _external=True) }}">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='Pictures_Posts/'+beach_posts.picture_v) }}" class="card-img-top" alt="{{ beach_posts.picture_alt }}" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ beach_posts.title }}</h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted ALL-no-hover">by {{ beach_posts.author.name }}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Culture -->
    <section class="container-fluid mt-4 HOME-backg">
        <div class="row justify-content-center">
            {% for cultural in posts_all: %}
            {% if cultural.theme_group.theme == posts_themes[3][0] and cultural.id == forth_theme_post_ids[0] or cultural.id == forth_theme_post_ids[1]: %} <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="{{ url_for('website.blog_post', index=cultural.id) }}">
                    <div class="card h-100 ALL-post-hover" style="width: 27.9rem;">
                        <img src="{{ url_for('static', filename='Pictures_Posts/'+cultural.picture_h) }}" class="card-img" alt="{{ cultural.picture_alt }}" />
                        {% if cultural.id == forth_theme_post_ids[1]: %}
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                        {% else: %}
                        <div class="card-img-overlay">
                        {% endif %}
                            <h5 class="card-title HOME-txt-background ALL-no-hover">{{ cultural.title }}</h5>
                            <p class="card-text HOME-txt-background ALL-no-hover">by {{ cultural.author.name }}</p>
                        </div>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
        </div>
    </section>

    <!-- Cards: Nature -->
    <section class="container-fluid mt-4 HOME-backg">
        <div class="row justify-content-center">
            {% for nature_posts in posts_all: %}
            {% if nature_posts.theme_group.theme == posts_themes[2][0]: %}
            <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="{{ url_for('website.blog_post', index=nature_posts.id) }}">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='Pictures_Posts/'+nature_posts.picture_s) }}" class="card-img-top" alt="{{ nature_posts.picture_alt }}" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ nature_posts.title }}</h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted">by {{ nature_posts.author.name}}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Culture -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center" >
            {% for cultural_post in posts_all: %}
            {% if cultural_post.theme_group.theme== posts_themes[3][0] and cultural_post.id == forth_theme_post_ids[2]: %}
            <a class="ALL-no-hover" href="{{ url_for('website.blog_post', index=cultural_post.id) }}">
                <div class="row no-gutters ALL-post-hover" style="width: 57rem;">
                    <div class="col-md-6 card-img" style="display:flex; justify-content:center;">
                        <img src="{{ url_for('static', filename='Pictures_Posts/'+cultural_post.picture_h) }}" class="card-img" alt="{{ cultural_post.picture_alt }}">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ cultural_post.title }}</h5>
                            <p class="card-text ALL-no-hover text-justify">{{ cultural_post.intro }}</p>
                            <p class="card-text ALL-no-hover"><small class="text-muted"> by {{ cultural_post.author.name }}</small></p>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Cities -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            {% for city_posts in posts_all: %}
            {% if city_posts.theme_group.theme == posts_themes[1][0]: %}
            <a class="ALL-no-hover" href="{{ url_for('website.blog_post', index=city_posts.id) }}">
                <div class="col col-auto mb-3">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem; height: 380px !important;" >
                        <img src="{{ url_for('static', filename='Pictures_Posts/'+city_posts.picture_h) }}" class="card-img-top" alt="{{ city_posts.picture_alt }}" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ city_posts.title }}</h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted ALL-no-hover">by {{ city_posts.author.name }}</small>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}