{% extends "account/dashboard_author.html" %}
{% block page %}
<!-- Content -->

<h1 class="mb-3 text-center">Submit new post</h1>

<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        <form action="" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.theme.label (class="form-label")}}
            {{form.theme (class="form-control")}}
            <br>

            {% if current_user.type == "super_admin" %}
            {{form.author.label (class="form-label")}}
            {{form.author (class="form-control")}}
            <br>
            {% endif %}

            {{form.date.label (class="form-label")}}
            {{form.date (class="form-control", type="date")}}
            <br>
            {{form.title.label (class="form-label")}}
            {{form.title (class="form-control")}}
            <br>
            {{form.intro.label (class="form-label")}}
            {{form.intro (class="form-control")}}
            <br>
            {{form.body.label (class="form-label")}}
            {{form.body (class="form-control", rows="10")}}

            <br>
            {{form.picture_v.label (class="form-label")}}
            {{form.picture_v (class="form-control", oninput="checkFileSizeBlogPic(this, 'picture_v_size')")}}
            {{form.picture_v_size (class="form-control", id="picture_v_size", type="hidden")}}
            <br>
            {{form.picture_v_source.label (class="form-label")}}
            {{form.picture_v_source (class="form-control")}}
            <br>
            {{form.picture_h.label (class="form-label")}}
            {{form.picture_h (class="form-control", oninput="checkFileSizeBlogPic(this, 'picture_h_size')")}}
            {{form.picture_h_size (class="form-control", id="picture_h_size", type="hidden")}}
            <br>
            {{form.picture_h_source.label (class="form-label")}}
            {{form.picture_h_source (class="form-control")}}
            <br>
            {{form.picture_s.label (class="form-label")}}
            {{form.picture_s (class="form-control", oninput="checkFileSizeBlogPic(this, 'picture_s_size')")}}
            {{form.picture_s_size (class="form-control", id="picture_s_size", type="hidden")}}
            <br>
            {{form.picture_s_source.label (class="form-label")}}
            {{form.picture_s_source (class="form-control")}}
            <br>
            {{form.picture_alt.label (class="form-label")}}
            {{form.picture_alt (class="form-control")}}
            <br>
            {{form.meta_tag.label (class="form-label")}}
            {{form.meta_tag (class="form-control")}}
            <br>
            {{form.title_tag.label (class="form-label")}}
            {{form.title_tag (class="form-control")}}
            <br>
            {{form.submit(class="btn ALL-green-btn-dark mb-2")}}

        </form>
        {{ ckeditor.load(pkg_type="full") }}
        {{ ckeditor.config(name='body') }}

    </div>

</section>

{% endblock %}