{% extends "account/dashboard_admin.html" %}
{% block page %}

<h1 class="mb-3 text-center">All blog users</h1>
<section class="mb-3 container-fluid">
    <div class="table-responsive w-100">
        <table class="col-md-12 table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col"># id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acct Type</th>
                    <th scope="col">Acct Creation</th>
                    <th scope="col">Blocked</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_blog_users %}
                <tr>
                    <th scope="row" class="align-middle">{{user.id}}</th>
                    <td class="align-middle">{{user.name}}</td>
                    <td class="align-middle">{{user.email}}</td>
                    <td class="align-middle">{{user.type}}</td>
                    <td class="align-middle">{{user.date_created.strftime('%d %b %Y')}}</td>
                    <td class="align-middle">{{user.blocked}}</td>
                    {% if (user.id != 1 and user.id != 2) and ((current_user.type == "super_admin") or (current_user.type == "admin" and user.type !="admin")): %}
                    <td class="d-flex flex-column h-100" style="gap: 5px;">
                        <div class="d-flex" style="gap: 5px;">
                            <a href="{{url_for('dashboard.user_preview', id=user.id)}}" target="_blank" class="btn btn-sm ALL-mini-btn"
                                style="width: 70px; background-color: #728c6996;">preview</a>
                            <a href="{{url_for('dashboard.user_update', id=user.id)}}" class="btn btn-sm ALL-mini-btn"
                                style="width: 70px; background-color: #728C69;">edit</a>
                        </div>
                        <div class="d-flex" style="gap: 5px;">
                            <a href="{{url_for('dashboard.user_block', id=user.id)}}" class="btn btn-secondary btn-sm"
                                style="width: 70px !important;">block</a>
                            <a href="{{url_for('dashboard.user_delete', id=user.id)}}" class="btn btn-danger btn-sm" style="width: 70px;">delete</a>
                        </div>
                    </td>
                    {% else: %}
                    <td class="align-middle"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}