{% extends "account/dashboard_admin.html" %}
{% block page %}

<h1 class="mb-3 text-center">Delete user</h1>
<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        <p class="text-justify text-center">The user you are about to delete has the block status of
            {{user_to_delete.blocked}} and the user id {{user_to_delete.id}}.<br>
            This user liked {{ user_to_delete.likes|count }} posts and made {{ user_to_delete.comments|count }} comments on blog posts.
        </p>
        <p class="text-justify text-center"><b>This action cannot be undone.</b>
        </p>
        {% if user_to_delete.type == "author" %}
        <p class="text-justify text-center"><b>This user is an author</b>. Check the author's posts before proceeding.</p>
        {% endif %}
    </div>
</section>

<section class="container-fluid mt-4 mb-3">
    <div class="row justify-content-center">
        <div class="row no-gutters ALL-box-preview-shadow" style="width: 57rem;">
            <div class="col-md-6 card-img ALL-picture ">
                <img src="{{ url_for('static', filename='Pictures_Users/'+user_to_delete.picture) }}" class="card-img" alt="picture of user">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{user_to_delete.name}}</h5>
                    <p class="card-text text-justify">{{user_to_delete.email}}</p>
                    <p class="card-text text-justify">{{user_to_delete.about}}</p>
                    <p class="card-text"><small class="text-muted"> User type: {{ user_to_delete.type }} - Joined: {{
                            user_to_delete.date_created.strftime('%d %B %Y') }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-3 container-fluid">
    <div class="row justify-content-center">
        <form class="col-lg-2 col-md-12" action="/dashboard/manage_users/delete/{{user_to_delete.id}}"
            method="POST">
            <button type="submit" name="submit_delete_user" class="btn btn-danger mb-2" style="width:120px">Delete
                User</button>
        </form>
    </div>
</section>

{% endblock %}