html,
body {
    overflow-x: hidden;
}
.HOME-special-font, .ALL-special-font {
    font-family: 'La Belle Aurore', cursive;
}
/* HOME */
.HOME-title {
    font-size: 4em;
    padding-top: 25px;
}
.HOME-sub-title {
    font-size: 1.5em;
    color: rgb(68, 68, 68);
    margin-left: 5px;
}
@media screen and (min-width: 600px) {
    .HOME-title {
        font-size: 7em;
    }
    .HOME-sub-title {
        font-size: 2.5em;
    }
}
/* Picture_01 from: https: //pixabay.com/photos/people-woman-travel-adventure-trek-2591874/ */
.HOME-img-main{
    height: 94vh;
    background-image: url("./Picture_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (hover: hover) {
    .HOME-theme-btn:hover {
        border-radius: 5%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
    }
}
.HOME-round-img{
    border-radius: 10%;
}
.HOME-txt-background{
    background-color: rgba(255, 255, 255, 0.495);
}
.HOME-card{
    border:none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.HOME-card-footer{
    border:none;
    background-color: white;
}

/* ALL OTHER HTML FILES as well as HOME*/
.ALL-h1{
    margin: 30px;
    font-size: 3em;
}
@media screen and (min-width: 600px) {
    .ALL-h1 {
        font-size: 5em;
    }
}
.ALL-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ALL-read-btn{
    width: 150px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: rgb(75, 75, 75);
}
.ALL-no-hover{
    text-decoration: none !important;
    color: rgb(16, 16, 16);
}
.ALL-no-hover:hover {
    text-decoration: none !important;
}
@media (hover: hover) {
    .ALL-post-hover:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}
.ALL-msg-sent{
    color: #4b6046;
    font-weight: bold;
    font-size: 1.5em;
}
.ALL-login-link{
    color: rgb(150, 150, 150);
}
.ALL-login-link-link{
    color: rgb(150, 150, 150) !important;
    text-decoration: underline !important;
}
.All-error{
    color: #8E1600;
}