{% extends "base.html" %}

{% block meta %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}User's Account - Update{% endblock %}

{% block content %}
<!-- Content -->

<h1 class="mb-3 text-center">Change information</h1>
<section class="mb-3 container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row justify-content-center">
        <p class="text-justify">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>
<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        {% if profile_picture %}
        <p>If you would like to change your profile picture, you can upload a new one bellow!</p>
        <p style="color:rgb(176, 176, 176)">Current profile picture: {{profile_picture}}</p>
        {% else %}
        <p>You do not have a profile picture yet. You can upload one bellow!</p>
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.picture.label (class="form-label")}}
            {{form.picture (class="form-control", value="Browse computer")}}
            <br>
            {{form.submit(class="btn ALL-green-btn-dark mb-2")}}
        </form>

    </div>
</section>




{% endblock %}