{% include "header.html" %}

    <!-- Content -->
    {% if chosen_theme == "": %}
    <h1 class="ALL-special-font ALL-h1 text-center">All Blog Posts</h1>
    {% else: %}
    <h1 class="ALL-special-font ALL-h1 text-center">{{chosen_theme}}: Blog Posts</h1>
    {% endif %}

    <!-- Cards: Culture (missing piece)-->
    {% for post in all_blog_posts: %}
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="row no-gutters" style="width: 57rem;">
                <div class="col-md-6 card-img ALL-picture ">
                    <img src="{{ post['picture_big'] }}" class="card-img"
                        alt="{{ post['picture_alt'] }}">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ post["title"] }}</h5>
                        <p class="card-text text-justify">{{ post["intro"] }}</p>
                        <a role="button" href="{{ url_for('blog_post', index=post['id']) }}" class="btn btn-light  ALL-read-btn mb-2">Read</a>
                        <p class="card-text"><small class="text-muted"> by {{ post["author"] }} - {{ post["date"] }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}


{% include "footer.html" %}