{% extends "base.html" %}

{% block meta %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}Author Dashboard{% endblock %}

{% block content %}
<!-- Content -->

    <h1 class="mb-3 text-center">Author Dashboard</h1>
    <section class="mb-3 container-fluid">
        <div class="row justify-content-center">
            <p class="text-justify">Hi, author!</p>
        </div>
    </section>
    <section class="mb-3 container-fluid">
        <div class="row justify-content-center">
            <a class="nav-link" href="{{ url_for('submit_post') }}">Submit Post</a>
        </div>
    </section>
    <h2 class="mb-3 text-center">All submitted posts</h2>
    <section class="mb-3 container-fluid">
        <p class="mb-3 text-center"> Show this author's submitted posts here</p>
    </section>
    
</div>

{% endblock %}