{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Travel blog - Your source of travel tips and news">
{% endblock %}
{% block title %}Travel Blog - embark on this adventure{% endblock %}

{% block content %}

<!-- Content -->
    <!-- Main image -->
    <section class="container-fluid HOME-img-main">
        <h1 class="HOME-special-font HOME-title">The Travel Blog</h1>
        <p class="HOME-sub-title"><span>discover the world with us</span></p>
    </section>

    <!-- Cards: Themes -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            {% for theme in posts_themes: %}
            <div class="col col-auto mb-3 HOME-theme-btn">
                <a class="ALL-no-hover" href="{{ url_for('all', index=theme[2]) }}">
                    <div class="card h-100" style="width: 13rem; border:none;">
                        <img src="{{ theme[1] }}" class="card-img-top HOME-round-img" alt="Theme" />
                        <div class="card-body" style="display:flex; justify-content: center;">
                            <h5 class="card-title ALL-no-hover">{{theme[0]}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Beach -->
    <section class="container-fluid">
        <div class="row justify-content-center">
            {% for beach_posts in posts_all: %}
            {% if beach_posts["theme"] == "Beach": %}
            <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="{{ url_for('blog_post', index=beach_posts['id']) }}">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem;">
                        <img src="{{ beach_posts['picture_small'] }}" class="card-img-top" alt="{{ beach_posts['picture_alt'] }}" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ beach_posts["title"] }}</h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted ALL-no-hover">by {{ beach_posts["author"] }}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Culture -->
    <section class="container-fluid mt-4 HOME-backg">
        <div class="row justify-content-center">
            {% for cultural in posts_all: %}
            {% if cultural["theme"] == "Culture" and cultural["num_theme"] < 3: %} <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="{{ url_for('blog_post', index=cultural['id']) }}">
                    <div class="card h-100 ALL-post-hover" style="width: 27.9rem;">
                        <img src="{{ cultural['picture_small'] }}" class="card-img" alt="{{ cultural['picture_alt'] }}" />
                        {% if cultural["num_theme"] == 2: %}
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            {% else: %}
                            <div class="card-img-overlay">
                                {% endif %}
                                <h5 class="card-title HOME-txt-background ALL-no-hover">{{ cultural["title"] }}</h5>
                                <p class="card-text HOME-txt-background ALL-no-hover">by {{ cultural["author"] }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
        </div>
    </section>

    <!-- Cards: Nature -->
    <section class="container-fluid mt-4 HOME-backg">
        <div class="row justify-content-center">
            {% for nature_posts in posts_all: %}
            {% if nature_posts["theme"] == "Nature": %}
            <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="{{ url_for('blog_post', index=nature_posts['id']) }}">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem;">
                        <img src="{{ nature_posts['picture_small'] }}" class="card-img-top" alt="{{ nature_posts['picture_alt'] }}" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ nature_posts["title"] }}</h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted">by {{ nature_posts["author"] }}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Culture (missing piece)-->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center" >
            {% for cultural_piece in posts_all: %}
            {% if cultural_piece["theme"] == "Culture" and cultural_piece["num_theme"] == 3: %}
            <a class="ALL-no-hover" href="{{ url_for('blog_post', index=cultural_piece['id']) }}">
                <div class="row no-gutters ALL-post-hover" style="width: 57rem;">
                    <div class="col-md-6 card-img">
                        <img src="{{ cultural_piece['picture_small'] }}" class="card-img" alt="{{ cultural_piece['picture_alt'] }}">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ cultural_piece["title"] }}</h5>
                            <p class="card-text ALL-no-hover text-justify">{{ cultural_piece["intro"] }}</p>
                            <p class="card-text ALL-no-hover"><small class="text-muted"> by {{ cultural_piece["author"] }}</small></p>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Cities -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            {% for city_posts in posts_all: %}
            {% if city_posts["theme"] == "City": %}
            <a class="ALL-no-hover" href="{{ url_for('blog_post', index=city_posts['id']) }}">
                <div class="col col-auto mb-3">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem;">
                        <img src="{{ city_posts['picture_small'] }}" class="card-img-top" alt="{{ city_posts['picture_alt'] }}" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ city_posts["title"] }}</h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted ALL-no-hover">by {{ city_posts["author"] }}</small>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}