{% extends "user_dashboard.html" %}
{% block page %}

<h1 class="mb-3 text-center">Blog users</h1>
<h2 class="mb-3 text-center">Delete Account</h2>
<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        <p class="text-justify text-center">You are about to delete your account.</p>
        <p class="text-justify text-center">This action cannot be undone.</p>
        <p class="text-justify text-center">Are you sure you wish to proceed?</p>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row justify-content-center">
        <p class="text-justify">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>
<section class="mb-3 container-fluid">
    <div class="row justify-content-center">
        <form class="col-lg-2 col-md-10" action="/user_dashboard/manage_acct/delete/{{current_user.id}}"
            method="POST">
            <button type="submit" name="submit_delete" class="btn btn-light  ALL-read-btn mb-2">Delete User</button>
        </form>
    </div>
</section>

</div>
</section>

{% endblock %}