{% extends "dashboard_admin.html" %}
{% block page %}

<h1 class="mb-3 text-center">Delete Post</h1>
<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        <p class="text-justify text-center">You are about to delete the following post:</p>
        <p class="text-justify text-center">Title: {{post_to_delete.title}}</p>
        <p class="text-justify text-center">Post ID: {{post_to_delete.id}}</p>
        <p class="text-justify text-center">Theme: {{post_to_delete.theme}}</p>
        <p class="text-justify text-center">Author: {{post_to_delete.author}}</p>
        <p class="text-justify text-center">Likes: {{post_to_delete.likes}}</p>
        <p class="text-justify text-center">Comments: {{post_to_delete.comments}}</p>
        <p class="text-justify text-center">This action cannot be undone.</p>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row justify-content-center">
        <p class="text-justify">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>
<section class="mb-3 container-fluid">
    <div class="row justify-content-center">
        <form class="col-lg-2 col-md-10" action="/dashboard/manage_posts/delete_post/{{post_to_delete.id}}" method="POST">
            <button type="submit" name="submit_delete" class="btn btn-light  ALL-read-btn mb-2">Delete Post</button>
        </form>
    </div>
</section>

</div>
</section>

{% endblock %}