{% extends "dashboard_admin.html" %}
{% block page %}

<h1 class="mb-3 text-center">Edit Post</h1>
<section class="mb-3 container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row justify-content-center">
        <p class="text-justify">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>
<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        <form action="" method="POST">
            {{form.hidden_tag()}}
            {{form.theme.label (class="form-label")}}
            {{form.theme (class="form-control")}}
            <br>
            {{form.author.label (class="form-label")}}
            {{form.author (class="form-control")}}
            <br>
            {{form.date.label (class="form-label")}}
            {{form.date (class="form-control")}}
            <br>
            {{form.title.label (class="form-label")}}
            {{form.title (class="form-control")}}
            <br>
            {{form.intro.label (class="form-label")}}
            {{form.intro (class="form-control")}}
            <br>
            {{form.body.label (class="form-label")}}
            {{form.body (class="form-control", rows="10")}}
            <br>
            {{form.picture_v.label (class="form-label")}}
            {{form.picture_v (class="form-control")}}
            <br>
            {{form.picture_v_source.label (class="form-label")}}
            {{form.picture_v_source (class="form-control")}}
            <br>
            {{form.picture_h.label (class="form-label")}}
            {{form.picture_h (class="form-control")}}
            <br>
            {{form.picture_h_source.label (class="form-label")}}
            {{form.picture_h_source (class="form-control")}}
            <br>
            {{form.picture_s.label (class="form-label")}}
            {{form.picture_s (class="form-control")}}
            <br>
            {{form.picture_s_source.label (class="form-label")}}
            {{form.picture_s_source (class="form-control")}}
            <br>
            {{form.picture_alt.label (class="form-label")}}
            {{form.picture_alt (class="form-control")}}
            <br>
            {{form.meta_tag.label (class="form-label")}}
            {{form.meta_tag (class="form-control")}}
            <br>
            {{form.title_tag.label (class="form-label")}}
            {{form.title_tag (class="form-control")}}
            <br>
            {{form.submit(class="btn btn-light ALL-read-btn mb-2")}}

        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}

    </div>

</section>


</div>
</section>

{% endblock %}