{% extends "base.html" %}

{% block meta %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Content -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">{{name}}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Submit Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('manage_users') }}">Manage Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Manage Account</a>
        </li>
    </ul>
</div>
</nav>
<div>
    <p class="text-center">Hi, {{name}}! You are logged in</p>
    {% block page %}
    {% endblock %}
</div>

{% endblock %}