{% extends "dashboard_admin.html" %}
{% block page %}

<h1 class="mb-3 text-center">All blog users</h1>
<section class="mb-3 container-fluid">
    <div class="row justify-content-center">
        <table class="col-lg-8 col-md-10 table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col"># id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acct Type</th>
                    <th scope="col">Acct Creation</th>
                    <th scope="col">Blocked</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_blog_users %}
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.type}}</td>
                    <td>{{user.date_created}}</td>
                    <td>{{user.blocked}}</td>
                    <td>
                        {% if user.id != 1: %}
                        <a href="{{url_for('user_update', id=user.id)}}">edit</a> | <a
                            href="{{url_for('user_delete', id=user.id)}}">delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</section>

{% endblock %}