{% extends "base.html" %}

{% block meta %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}User Dashboard{% endblock %}

{% block content %}
<!-- Content -->

<h1 class="mb-3 text-center">User Dashboard</h1>
<section class="mb-3 container-fluid">
    <div class="row justify-content-center">
        <p class="text-justify">Hi, user!</p>
    </div>
</section>
<h2 class="mb-3 text-center">The lattest blog posts we selected for you!</h2>
<section class="mb-3 container-fluid">
    <p class="mb-3 text-center"> show post selection here</p>
</section>

</div>

{% endblock %}